body {
  background: rgb(30, 22, 66);
  color: white;
}

$colorr: red;

.q1 {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  user-select: none;
  position: relative;
  display: flex;
}

.q2 {
  color: $colorr;
}

.q3 {
  color: $colorr;
}

.q4 {
  background: green;
}